*~
*.new
*.new_base

base/CodeSequentiel

PVM/ESCLA
PVM/CodeSequentiel

CUDA/CodeSequentiel
CUDA/first_step/VecteurCPU
CUDA/first_step/VecteurGPU
CUDA/conf/a.out

OpenMP/CodeSequentiel
OpenMP/HelloWorld

*.log
